*{
    padding: 0vw;
    margin: 0vw;
    background-color: transparent;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}

/* default body properties starts here */

::-webkit-scrollbar{
    width: 0;
}

body{
    width: 100vw;
    background-color: #f1f5f9;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li{
    font-family: "Nunito", sans-serif;
    background-color: transparent;
    text-decoration: none;
    color: #1e293b;
}

h1{
    font-size: 2.8vw;
    line-height: 3vw;
    font-weight: 600;
}

h2{
    line-height: 2.6vw;
    font-size: 2.4vw;
}

h3{
    line-height: 2.2vw;
    font-size: 2vw;
}

h4{
    line-height: 1.8vw;
    font-size: 1.6vw;
    font-weight: 400;
}

h5{
    line-height: 1.4vw;
    font-size: 1.2vw;
    font-weight: 500;
}

h6{
    line-height: 1.2vw;
    font-size: 1vw;
}

p{
    line-height: 1.2vw;
    font-size: 1vw;
}

a{
    line-height: 1.2vw;
    font-size: 1vw;
    font-weight: 500;
}

span{
    color: #22d3ee;
    display: inline;
}

li{
    line-height: 1vw;
    font-size: 0.8vw;
}

#btn-primary{
    padding: 0.8vw 1vw;
    margin: 0.5vw 0;
    color: #fff;
    background-color: #22d3ee;
    align-items: center;
    display: flex;
    width: max-content;
    border-radius: 0.3vw;
    -webkit-border-radius: 0.3vw;
    -moz-border-radius: 0.3vw;
    -ms-border-radius: 0.3vw;
    -o-border-radius: 0.3vw;
}

#btn-primary:hover{
    background-color: #1e293b;
}

#btn-primary:hover i{
    padding-left: 1vw;
}

/* default body properties ends here */


/* section properties starts here */

.section{
    width: 75vw;
    aspect-ratio: 12/6;
    padding: 6.25vw 12.5vw;
}

.bg1{
    background-color: #164e63;
}

.bg2{
    background-color: #0e7490;
}

.bg3{
    background-color: #22d3ee;
}

.bg4{
    background-color: #a5f3fc;
}

.bg5{
    background-color: #ecfeff;
}

/* section properties starts here */


/* Header and Footer style starts here */

.header, .footer{
    width: 75vw;
    height: 4vw;
    padding: 0.125vw 12.5vw;
    color: #0f172a;
    display: flex;
    align-items: center;
}

.header{
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #fff;
}

.brand{
    width: fit-content;
}

.brand a{
    display: flex;
    align-items: center;
    padding: 0.5vw;
}

.brand a img{
    width: 2vw;
    height: 2vw;
    padding: 0.5vw;
}

.header .menu{
    display: flex;
    width: 45vw;
    justify-content: space-around;
}

.menu a{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

/* Header and Footer style ends here */


/* #main and inner content starts here */

#main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main .content, video{
    width: 36vw;
}

/* #main and inner content ends here */

